* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    height: 100px;
    padding: 10px 80px;
    background-color: #8bc34a;
    color: #fff;
}

.title {
    display: inline-block;
}

.todo-logo {
    height: 80px;
    width: auto;
    vertical-align: middle;
}

.title-text {
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
}

.title-text h1 {
    font-weight: 500;
}

.title-text h2 {
    font-weight: 500;
    font-size: 18px;
}

.avatar {
    display: inline-block;
    float: right;
}

.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(./avatar.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.avatar-info {
    display: inline-block;
    vertical-align: middle;
}

.avatar-info h3 {
    font-weight: 500;
    margin: 5px 20px;
}

/* Main App */

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
}

.todo-list {
    width: 450px;
    height: 500px;
    background-color: #8bc34a;
    margin: 40px 20px;
}

.done-list {
    width: 450px;
    height: 500px;
    background-color: #8bc34a;
    margin: 40px 20px;
}

.boxes-header {
    border-bottom: 1px solid #fff;
    padding: 10px 20px;
}

.boxes-header h2 {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.add-btn {
    color: #8bc34a;
    background-color: #fff;
    display: inline-block;
    float: right;
    border: 0;
    padding: 3px 10px;
}

.main ul {
    list-style: none;
}

.item-list {
    color: #000;
    background-color: #fff;
    margin: 5px 10px;
    padding: 10px;
}

.done-list .item-list {
    color: #c1c1c1;
    font-style: italic;
    text-decoration: line-through;
}

/* Form */

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* #popup {
    visibility: hidden;
} */

.add-window {
    width: 300px;
    background: #fff;
    padding: 30px 20px;
    margin: auto;
    text-align: center;
}

.input {
    border: 0;
    background: #f1f1f1;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    margin: 0 auto;
}

.form-btns {
    margin: auto;
    margin-top: 30px;
    width: 100%;
}

.cancel {
    border: 0;
    background: red;
    color: #fff;
    height: 40px;
    width: 110px;
    font-size: 16px;
    float: left;
}

.cancel span {
    background: #fff;
    color: red;
    border-radius: 50%;
    width: 20px;
    height: 50px;
    padding: 2px 6px;
    margin-left: 20px;
}

.save {
    border: 0;
    background: #8bc34a;
    color: #fff;
    height: 40px;
    width: 100px;
    font-size: 16px;
    float: right;
}

.save span {
    background: #fff;
    color: #8bc34a;
    border-radius: 50%;
    width: 20px;
    height: 50px;
    padding: 2px 6px;
    margin-left: 20px;
}

.active {
    visibility: visible;
}