* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/***** Header Component *****/
.header {
    height: 100px;
    padding: 10px 80px;
    background-color: #8bc34a;
    color: #000;
}

.title {
    display: inline-block;
}

.todo-logo {
    height: 80px;
    width: auto;
    vertical-align: middle;
}

.title-text {
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
}

.title-text h1 {
    font-weight: 500;
}

.title-text h2 {
    font-weight: 500;
    font-size: 18px;
}

.avatar {
    display: inline-block;
    float: right;
}

.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(./avatar.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.avatar-info {
    display: inline-block;
    vertical-align: middle;
}

.avatar-info h3 {
    font-weight: 500;
    margin: 5px 20px;
}

/***** Main App *****/

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #000;
}

.todo-list {
    width: 450px;
    height: 500px;
    max-height: 500px;
    background-color: #8bc34a;
    margin: 40px 20px;
}

.done-list {
    width: 450px;
    height: 500px;
    background-color: #8bc34a;
    margin: 40px 20px;
}

.boxes-header {
    border-bottom: 1px solid #fff;
    padding: 10px 20px;
}

.boxes-header h2 {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.add-btn {
    color: #000;
    background-color: #fff;
    display: inline-block;
    float: right;
    border: 0;
    padding: 3px 10px;
    cursor: pointer;
}

.main ul {
    list-style: none;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item-list {
    color: #000;
    background-color: #fff;
    margin: 5px 10px;
    padding: 10px;
}

.done-items .item-list {
    background: #f4f4f4;
}

.done-list .item-text {
    color: #a5a5a5;
    font-style: italic;
    text-decoration: line-through;
}

.item-text {
    display: inline-block;
    cursor: pointer;
    width: 90%;
}

.del-task {
    background: #8bc34a;
    color: #000;
    border-radius: 50%;
    padding: 2px 6px;
    margin-left: 20px;
    float: right;
    cursor: pointer;
    border: none;
}

/***** Input Component *****/

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.add-window {
    width: 300px;
    background: #fff;
    padding: 30px 20px;
    margin: auto;
    text-align: center;
}

.input {
    border: 0;
    background: #f1f1f1;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    margin: 0 auto;
}

.form-btns {
    margin: auto;
    margin-top: 30px;
    width: 100%;
}

.cancel {
    border: 0;
    background: #B30000;
    color: #fff;
    height: 40px;
    width: 110px;
    font-size: 16px;
    float: left;
}

.cancel span {
    background: #fff;
    color: #B30000;
    border-radius: 50%;
    width: 20px;
    height: 50px;
    padding: 2px 6px;
    margin-left: 20px;
}

.save {
    border: 0;
    background: #406124;
    color: #fff;
    height: 40px;
    width: 100px;
    font-size: 16px;
    float: right;
}

.save span {
    background: #fff;
    color: #406124;
    border-radius: 50%;
    width: 20px;
    height: 50px;
    padding: 2px 6px;
    margin-left: 20px;
}

/***** Register Component *****/
.login-page,
.reg-page {
    height: 100vh;
    background: #8bc34a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column wrap;
}

.login-page .title h1,
.reg-page .title h1 {
    font-size: 30px;
}

.login-form,
.reg-form {
    width: 310px;
    background: #fff;
    padding: 30px 20px;
    margin-top: 20px;
}

.login-form input,
.reg-form input {
    border: 0;
    background: #f1f1f1;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login-submit,
.reg-submit {
    background: #8bc34a;
    color: #000;
    border: 0;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-submit span,
.reg-submit span {
    background: #fff;
    color: #406124;
    border-radius: 50%;
    padding: 2px 7px;
    margin-left: 160px;
}

.notice {
    text-align: center;
    color: #a5a5a5;
    font-size: 14px;
}

.notice .link {
    color: #8bc34a;
    text-decoration: none;
}

/***** Responsive Design *****/

@media only screen and (max-width: 980px) {
    .item-text {
        width: 82%;
    }
}

@media only screen and (max-width: 600px) {
    .main {
        flex-wrap: wrap;
        align-content: stretch;
    }
    .todo-list,
    .done-list {
        width: 100%;
        height: 300px;
    }
    .done-list {
        margin-top: 0;
    }
    .header {
        height: 80px;
        padding: 20px;
    }
    .todo-logo {
        height: 45px;
    }
    .title-text {
        margin: 0px 10px;
    }
    .title-text h1 {
        font-size: 22px;
    }
    .title-text h2 {
        font-size: 14px;
    }
    .avatar-img {
        width: 45px;
        height: 45px;
    }
    .avatar-info h3 {
        margin: 5px;
        font-size: 14px;
    }
    .login-page .title h1,
    .reg-page .title h1 {
        font-size: 24px;
    }
    .login-page .todo-logo,
    .reg-page .todo-logo {
        height: 60px;
    }
}

@media only screen and (max-width: 376px) {
    .header {
        padding: 20px 10px;
    }
    .todo-logo {
        height: 40px;
    }
    .title-text h1 {
        font-size: 18px;
    }
    .title-text h2 {
        font-size: 11px;
    }
    .avatar-img {
        width: 40px;
        height: 40px;
    }
    .avatar-info h3 {
        font-size: 11px;
    }
}